header {
    font-family: Arial, Helvetica, sans-serif;
} 

.header logo {
    justify-content: center;
}

.header logo .header__img {
    max-width:  350px;
}

.header__img {
    text-align: center;
}

.header__menu .menus__list {
    display: flex;
    justify-content: center;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px 0;
}

.header__menu .menus__list .menu__links {
    position: relative;
}

.header__menu .menus__list .menu__links:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: -3px;
        margin: auto;
        height: 15px;
        width: 1px;
        background-color: lightgre;
}

.header__menu .menus__list .menu__links .menu__link {
    padding:  0 25px;
    color: darkgray;
}

.header__menu .menus__list .menu__links .menu__link {
    color: #a050a0;
}
